Import packages

In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

### review source data

In [2]:
##import dataset
movies = pd.read_csv('ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users = pd.read_csv('ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings = pd.read_csv('ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [3]:
movies

,0,1,2
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children's
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Animation|Children's
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Drama|Thriller
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Thriller
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action
20,21,Get Shorty (1995),Action|Comedy|Drama
21,22,Copycat (1995),Crime|Drama|Thriller
22,23,Assassins (1995),Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Drama
27,28,Persuasion (1995),Romance
28,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama
...,...,...,...
3853,3923,Return of the Fly (1959),Horror|Sci-Fi
3854,3924,Pajama Party (1964),Comedy
3855,3925,Stranger Than Paradise (1984),Comedy
3856,3926,Voyage to the Bottom of the Sea (1961),Adventure|Sci-Fi
3857,3927,Fantastic Voyage (1966),Adventure|Sci-Fi
3858,3928,Abbott and Costello Meet Frankenstein (1948),Comedy|Horror
3859,3929,"Bank Dick, The (1940)",Comedy
3860,3930,"Creature From the Black Lagoon, The (1954)",Horror
3861,3931,"Giant Gila Monster, The (1959)",Horror|Sci-Fi
3862,3932,"Invisible Man, The (1933)",Horror|Sci-Fi
3863,3933,"Killer Shrews, The (1959)",Horror|Sci-Fi
3864,3934,Kronos (1957),Sci-Fi
3865,3935,Kronos (1973),Horror
3866,3936,"Phantom of the Opera, The (1943)",Drama|Thriller
3867,3937,Runaway (1984),Sci-Fi|Thriller
3868,3938,"Slumber Party Massacre, The (1982)",Horror
3869,3939,"Slumber Party Massacre II, The (1987)",Horror
3870,3940,"Slumber Party Massacre III, The (1990)",Horror
3871,3941,Sorority House Massacre (1986),Horror
3872,3942,Sorority House Massacre II (1990),Horror
3873,3943,Bamboozled (2000),Comedy
3874,3944,Bootmen (2000),Comedy|Drama
3875,3945,Digimon: The Movie (2000),Adventure|Animation|Children's
3876,3946,Get Carter (2000),Action|Drama|Thriller
3877,3947,Get Carter (1971),Thriller
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [4]:
users

         0  1   2   3      4
0        1  F   1  10  48067
1        2  M  56  16  70072
2        3  M  25  15  55117
3        4  M  45   7  02460
4        5  M  25  20  55455
5        6  F  50   9  55117
6        7  M  35   1  06810
7        8  M  25  12  11413
8        9  M  25  17  61614
9       10  F  35   1  95370
10      11  F  25   1  04093
11      12  M  25  12  32793
12      13  M  45   1  93304
13      14  M  35   0  60126
14      15  M  25   7  22903
15      16  F  35   0  20670
16      17  M  50   1  95350
17      18  F  18   3  95825
18      19  M   1  10  48073
19      20  M  25  14  55113
20      21  M  18  16  99353
21      22  M  18  15  53706
22      23  M  35   0  90049
23      24  F  25   7  10023
24      25  M  18   4  01609
25      26  M  25   7  23112
26      27  M  25  11  19130
27      28  F  25   1  14607
28      29  M  35   7  33407
29      30  F  35   7  19143
...    ... ..  ..  ..    ...
6010  6011  M  35  15  80538
6011  6012  M  35  15  02871
6012  6013  F  25  20  32301
6013  6014  M  45   1  80634
6014  6015  F  25   9  80013
6015  6016  M  45   1  37209
6016  6017  F  35   7  21117
6017  6018  M  35   1  48906
6018  6019  M  25   0  10024
6019  6020  M  50  16  10023
6020  6021  M  25  12  08876
6021  6022  M  25  17  57006
6022  6023  M  25   0  43213
6023  6024  M  25  12  53705
6024  6025  F  25   1  32607
6025  6026  M  35   6  11210
6026  6027  M  18   4  20742
6027  6028  M  18   4  94133
6028  6029  F  25   1  23185
6029  6030  M  25  17  32618
6030  6031  F  18   0  45123
6031  6032  M  45   7  55108
6032  6033  M  50  13  78232
6033  6034  M  25  14  94117
6034  6035  F  25   1  78734
6035  6036  F  25  15  32603
6036  6037  F  45   1  76006
6037  6038  F  56   1  14706
6038  6039  F  45   0  01060
6039  6040  M  25   6  11106

[6040 rows x 5 columns]

import train and test sets

In [5]:
ratings

            0     1  2          3
0           1  1193  5  978300760
1           1   661  3  978302109
2           1   914  3  978301968
3           1  3408  4  978300275
4           1  2355  5  978824291
5           1  1197  3  978302268
6           1  1287  5  978302039
7           1  2804  5  978300719
8           1   594  4  978302268
9           1   919  4  978301368
10          1   595  5  978824268
11          1   938  4  978301752
12          1  2398  4  978302281
13          1  2918  4  978302124
14          1  1035  5  978301753
15          1  2791  4  978302188
16          1  2687  3  978824268
17          1  2018  4  978301777
18          1  3105  5  978301713
19          1  2797  4  978302039
20          1  2321  3  978302205
21          1   720  3  978300760
22          1  1270  5  978300055
23          1   527  5  978824195
24          1  2340  3  978300103
25          1    48  5  978824351
26          1  1097  4  978301953
27          1  1721  4  978300055
28          1  1545  4  978824139
29          1   745  3  978824268
...       ...   ... ..        ...
1000179  6040  2762  4  956704584
1000180  6040  1036  3  956715455
1000181  6040   508  4  956704972
1000182  6040  1041  4  957717678
1000183  6040  3735  4  960971654
1000184  6040  2791  4  956715569
1000185  6040  2794  1  956716438
1000186  6040   527  5  956704219
1000187  6040  2003  1  956716294
1000188  6040   535  4  964828734
1000189  6040  2010  5  957716795
1000190  6040  2011  4  956716113
1000191  6040  3751  4  964828782
1000192  6040  2019  5  956703977
1000193  6040   541  4  956715288
1000194  6040  1077  5  964828799
1000195  6040  1079  2  956715648
1000196  6040   549  4  956704746
1000197  6040  2020  3  956715288
1000198  6040  2021  3  956716374
1000199  6040  2022  5  956716207
1000200  6040  2028  5  956704519
1000201  6040  1080  4  957717322
1000202  6040  1089  4  956704996
1000203  6040  1090  3  956715518
1000204  6040  1091  1  956716541
1000205  6040  1094  5  956704887
1000206  6040   562  5  956704746
1000207  6040  1096  4  956715648
1000208  6040  1097  4  956715569

[1000209 rows x 4 columns]

In [6]:
##create training and test set data
training_set = pd.read_csv('ml-100k/u1.base', delimiter = '\t')
##convert it to array
training_set = np.array(training_set, dtype = 'int')

test_set = pd.read_csv('ml-100k/u1.test', delimiter = '\t')
##convert it to array
test_set = np.array(test_set, dtype = 'int')

In [7]:
training_set

array([[        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       [        1,         4,         3, 876893119],
       ...,
       [      943,      1188,         3, 888640250],
       [      943,      1228,         3, 888640275],
       [      943,      1330,         3, 888692465]])

In [8]:
test_set

array([[        1,        10,         3, 875693118],
       [        1,        12,         5, 878542960],
       [        1,        14,         5, 874965706],
       ...,
       [      459,       934,         3, 879563639],
       [      460,        10,         3, 882912371],
       [      462,       682,         5, 886365231]])

## Data structure creation

get movie and user total count

In [9]:
#take max users id in train and test data
nb_users = int(max(max(training_set[:,0]), max(test_set[:,0])))
nb_movies = int(max(max(training_set[:,1]), max(test_set[:,1])))

In [10]:
nb_users, nb_movies

(943, 1682)

In [11]:
def convert(data):
    new_data = []
    for id_users in range(1, nb_users + 1):
        ##id of movies that is rated by current users
        id_movies = data[:,1][data[:,0] == id_users]
        
        ##rate of movies that is given by current user
        id_ratings = data[:,2][data[:,0] == id_users]
        
        #inialize ratings for all movies
        #set 0 for movies that are not rated by current users
        ratings = np.zeros(nb_movies)
        #movie id starts from 1, 1st movie will be 1st element in rating with index as 0
        ratings[id_movies - 1] = id_ratings
        new_data.append(list(ratings))
    return new_data

In [12]:
training_set = convert(training_set)
test_set = convert(test_set)

convert the data into Torch tensor

In [13]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [14]:
training_set

tensor([[0., 3., 4.,  ..., 0., 0., 0.],
        [4., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [5., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 5., 0.,  ..., 0., 0., 0.]])

In [15]:
test_set

tensor([[0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.]])

## SAE architecture creation

In [16]:
class SAE(nn.Module):
    def __init__(self, ):
        #allow to inhert all classes and methods of parent class
        super(SAE, self).__init__()
        #num of features from input: num of movies, 20 nodes in first hidden layer
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        #start to decoding
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
    #input vector (movies rating) for a specific users
    def forward(self, x):
        #apply activaton fuc on first encoding layer
        #return first encoded vector
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        #no need to activate the vector
        #output the reconstrctured vector
        x = self.fc4(x)
        return x

## model training

In [17]:
sae = SAE()
#Create loss fucn object
criterion = nn.MSELoss()
#create optimizer object
#parameters of all auto-encoders defined in the class
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

In [18]:
# #train the SAE using pytorch only codes

#loop all epochs
nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
    train_loss = 0
    #exclude users who did not rate any movies
    #define a float
    s = 0.
    #loop through each users
    for id_user in range(nb_users):
        #get all rating for current user from training_set
        #nn does not take single dimension vector, so add a batch dimension
        #a batch of sinlge inptu vector, update weigths after each vector
        input = Variable(training_set[id_user]).unsqueeze(0)
        #create target by copying input
        target = input.clone()
        #only look at users who rated at least 1 movie
        if torch.sum(target.data > 0) > 0:
            #get output from the network, a vector of predicted value
            output = sae(input)
            #do not compute gradient with respect to target
            target.require_grad = False
            #don't account the output whose initial input is 0
            output[target == 0] = 0
            loss = criterion(output, target)
            #make demonitor is not zero, to add a small number
            mean_corrector = nb_movies / float(torch.sum(target.data>0) + 1e-10)
            #backward method to determine which direction 
            loss.backward()
            #access the data of loss object .data[0]
            #adjust the loss to compute relevant mean for all movies for current user
            train_loss += np.sqrt(loss.data * mean_corrector)
            s += 1.
            #apply optimizer to update weights, decides the amount of weight udpates
            optimizer.step()
    print('epoch: '+str(epoch) + ' loss: ' + str(train_loss/s))

epoch: 1 loss: tensor(1.7716)
epoch: 2 loss: tensor(1.0966)
epoch: 3 loss: tensor(1.0534)
epoch: 4 loss: tensor(1.0385)
epoch: 5 loss: tensor(1.0308)
epoch: 6 loss: tensor(1.0266)
epoch: 7 loss: tensor(1.0238)
epoch: 8 loss: tensor(1.0221)
epoch: 9 loss: tensor(1.0207)
epoch: 10 loss: tensor(1.0198)
epoch: 11 loss: tensor(1.0190)
epoch: 12 loss: tensor(1.0186)
epoch: 13 loss: tensor(1.0179)
epoch: 14 loss: tensor(1.0174)
epoch: 15 loss: tensor(1.0174)
epoch: 16 loss: tensor(1.0170)
epoch: 17 loss: tensor(1.0168)
epoch: 18 loss: tensor(1.0163)
epoch: 19 loss: tensor(1.0167)
epoch: 20 loss: tensor(1.0161)
epoch: 21 loss: tensor(1.0162)
epoch: 22 loss: tensor(1.0160)
epoch: 23 loss: tensor(1.0159)
epoch: 24 loss: tensor(1.0158)
epoch: 25 loss: tensor(1.0155)
epoch: 26 loss: tensor(1.0158)
epoch: 27 loss: tensor(1.0156)
epoch: 28 loss: tensor(1.0150)
epoch: 29 loss: tensor(1.0127)
epoch: 30 loss: tensor(1.0114)
epoch: 31 loss: tensor(1.0103)
epoch: 32 loss: tensor(1.0074)
epoch: 33 loss: tensor(1.0080)
epoch: 34 loss: tensor(1.0036)
epoch: 35 loss: tensor(1.0019)
epoch: 36 loss: tensor(0.9986)
epoch: 37 loss: tensor(0.9983)
epoch: 38 loss: tensor(0.9939)
epoch: 39 loss: tensor(0.9956)
epoch: 40 loss: tensor(0.9928)
epoch: 41 loss: tensor(0.9917)
epoch: 42 loss: tensor(0.9892)
epoch: 43 loss: tensor(0.9879)
epoch: 44 loss: tensor(0.9839)
epoch: 45 loss: tensor(0.9844)
epoch: 46 loss: tensor(0.9817)
epoch: 47 loss: tensor(0.9797)
epoch: 48 loss: tensor(0.9758)
epoch: 49 loss: tensor(0.9763)
epoch: 50 loss: tensor(0.9755)
epoch: 51 loss: tensor(0.9714)
epoch: 52 loss: tensor(0.9691)
epoch: 53 loss: tensor(0.9716)
epoch: 54 loss: tensor(0.9714)
epoch: 55 loss: tensor(0.9797)
epoch: 56 loss: tensor(0.9731)
epoch: 57 loss: tensor(0.9749)
epoch: 58 loss: tensor(0.9705)
epoch: 59 loss: tensor(0.9695)
epoch: 60 loss: tensor(0.9676)
epoch: 61 loss: tensor(0.9664)
epoch: 62 loss: tensor(0.9660)
epoch: 63 loss: tensor(0.9730)
epoch: 64 loss: tensor(0.9756)
epoch: 65 loss: tensor(0.9739)
epoch: 66 loss: tensor(0.9670)
epoch: 67 loss: tensor(0.9675)
epoch: 68 loss: tensor(0.9684)
epoch: 69 loss: tensor(0.9735)
epoch: 70 loss: tensor(0.9683)
epoch: 71 loss: tensor(0.9658)
epoch: 72 loss: tensor(0.9605)
epoch: 73 loss: tensor(0.9615)
epoch: 74 loss: tensor(0.9599)
epoch: 75 loss: tensor(0.9588)
epoch: 76 loss: tensor(0.9564)
epoch: 77 loss: tensor(0.9559)
epoch: 78 loss: tensor(0.9516)
epoch: 79 loss: tensor(0.9490)
epoch: 80 loss: tensor(0.9502)
epoch: 81 loss: tensor(0.9532)
epoch: 82 loss: tensor(0.9487)
epoch: 83 loss: tensor(0.9511)
epoch: 84 loss: tensor(0.9479)
epoch: 85 loss: tensor(0.9479)
epoch: 86 loss: tensor(0.9451)
epoch: 87 loss: tensor(0.9457)
epoch: 88 loss: tensor(0.9462)
epoch: 89 loss: tensor(0.9544)
epoch: 90 loss: tensor(0.9514)
epoch: 91 loss: tensor(0.9505)
epoch: 92 loss: tensor(0.9468)
epoch: 93 loss: tensor(0.9476)
epoch: 94 loss: tensor(0.9443)
epoch: 95 loss: tensor(0.9454)
epoch: 96 loss: tensor(0.9436)
epoch: 97 loss: tensor(0.9455)
epoch: 98 loss: tensor(0.9458)
epoch: 99 loss: tensor(0.9452)
epoch: 100 loss: tensor(0.9413)
epoch: 101 loss: tensor(0.9416)
epoch: 102 loss: tensor(0.9397)
epoch: 103 loss: tensor(0.9420)
epoch: 104 loss: tensor(0.9386)
epoch: 105 loss: tensor(0.9408)
epoch: 106 loss: tensor(0.9370)
epoch: 107 loss: tensor(0.9389)
epoch: 108 loss: tensor(0.9367)
epoch: 109 loss: tensor(0.9377)
epoch: 110 loss: tensor(0.9349)
epoch: 111 loss: tensor(0.9371)
epoch: 112 loss: tensor(0.9343)
epoch: 113 loss: tensor(0.9352)
epoch: 114 loss: tensor(0.9333)
epoch: 115 loss: tensor(0.9344)
epoch: 116 loss: tensor(0.9329)
epoch: 117 loss: tensor(0.9333)
epoch: 118 loss: tensor(0.9319)
epoch: 119 loss: tensor(0.9331)
epoch: 120 loss: tensor(0.9312)
epoch: 121 loss: tensor(0.9319)
epoch: 122 loss: tensor(0.9300)
epoch: 123 loss: tensor(0.9310)
epoch: 124 loss: tensor(0.9295)
epoch: 125 loss: tensor(0.9311)
epoch: 126 loss: tensor(0.9291)
epoch: 127 loss: tensor(0.9304)
epoch: 128 loss: tensor(0.9286)
epoch: 129 loss: tensor(0.9297)
epoch: 130 loss: tensor(0.9281)
epoch: 131 loss: tensor(0.9293)
epoch: 132 loss: tensor(0.9277)
epoch: 133 loss: tensor(0.9293)
epoch: 134 loss: tensor(0.9266)
epoch: 135 loss: tensor(0.9279)
epoch: 136 loss: tensor(0.9264)
epoch: 137 loss: tensor(0.9274)
epoch: 138 loss: tensor(0.9263)
epoch: 139 loss: tensor(0.9260)
epoch: 140 loss: tensor(0.9259)
epoch: 141 loss: tensor(0.9264)
epoch: 142 loss: tensor(0.9250)
epoch: 143 loss: tensor(0.9258)
epoch: 144 loss: tensor(0.9248)
epoch: 145 loss: tensor(0.9255)
epoch: 146 loss: tensor(0.9244)
epoch: 147 loss: tensor(0.9243)
epoch: 148 loss: tensor(0.9240)
epoch: 149 loss: tensor(0.9245)
epoch: 150 loss: tensor(0.9236)
epoch: 151 loss: tensor(0.9240)
epoch: 152 loss: tensor(0.9232)
epoch: 153 loss: tensor(0.9232)
epoch: 154 loss: tensor(0.9228)
epoch: 155 loss: tensor(0.9228)
epoch: 156 loss: tensor(0.9223)
epoch: 157 loss: tensor(0.9227)
epoch: 158 loss: tensor(0.9219)
epoch: 159 loss: tensor(0.9216)
epoch: 160 loss: tensor(0.9216)
epoch: 161 loss: tensor(0.9213)
epoch: 162 loss: tensor(0.9212)
epoch: 163 loss: tensor(0.9214)
epoch: 164 loss: tensor(0.9211)
epoch: 165 loss: tensor(0.9209)
epoch: 166 loss: tensor(0.9206)
epoch: 167 loss: tensor(0.9213)
epoch: 168 loss: tensor(0.9202)
epoch: 169 loss: tensor(0.9205)
epoch: 170 loss: tensor(0.9204)
epoch: 171 loss: tensor(0.9205)
epoch: 172 loss: tensor(0.9199)
epoch: 173 loss: tensor(0.9199)
epoch: 174 loss: tensor(0.9191)
epoch: 175 loss: tensor(0.9196)
epoch: 176 loss: tensor(0.9194)
epoch: 177 loss: tensor(0.9194)
epoch: 178 loss: tensor(0.9189)
epoch: 179 loss: tensor(0.9193)
epoch: 180 loss: tensor(0.9189)
epoch: 181 loss: tensor(0.9183)
epoch: 182 loss: tensor(0.9184)
epoch: 183 loss: tensor(0.9184)
epoch: 184 loss: tensor(0.9179)
epoch: 185 loss: tensor(0.9178)
epoch: 186 loss: tensor(0.9175)
epoch: 187 loss: tensor(0.9176)
epoch: 188 loss: tensor(0.9172)
epoch: 189 loss: tensor(0.9176)
epoch: 190 loss: tensor(0.9168)
epoch: 191 loss: tensor(0.9169)
epoch: 192 loss: tensor(0.9170)
epoch: 193 loss: tensor(0.9172)
epoch: 194 loss: tensor(0.9163)
epoch: 195 loss: tensor(0.9162)
epoch: 196 loss: tensor(0.9162)
epoch: 197 loss: tensor(0.9165)
epoch: 198 loss: tensor(0.9160)
epoch: 199 loss: tensor(0.9160)
epoch: 200 loss: tensor(0.9151)

## test RBM

In [19]:
#loop through each users
test_loss = 0
for id_user in range(nb_users):
    #keep using training set
    input = Variable(training_set[id_user]).unsqueeze(0)
    #create target by copying input
    target = Variable(test_set[id_user]).unsqueeze(0)
    #only look at users who rated at least 1 movie
    if torch.sum(target.data) > 0:
        #get output from the network, a vector of predicted value
        output = sae(input)
        #do not compute gradient with respect to target
        target.require_grad = False
        #don't account the output whose initial input is 0
        output[target == 0] = 0
        loss = criterion(output, target)
        #make demonitor is not zero, to add a small number
        mean_corrector = nb_movies / float(torch.sum(target.data>0) + 1e-10)
        
        #access the data of loss object .data[0]
        #adjust the loss to compute relevant mean for all movies for current user
        test_loss += np.sqrt(loss.data * mean_corrector)
        s += 1.
print('loss: ' + str(train_loss/s))

loss: tensor(0.6155)

### below print out real and predicted ratings for a user

In [20]:
user_id = 0
movie_title = movies.iloc[:nb_movies, 1:2]
user_rating = training_set.data.numpy()[user_id, :].reshape(-1,1)
user_target = test_set.data.numpy()[user_id, :].reshape(-1,1)
  
user_input = Variable(training_set[user_id]).unsqueeze(0)
predicted = sae(user_input)
predicted = predicted.data.numpy().reshape(-1,1)
  
result_array = np.hstack([movie_title, user_target, predicted])
result_array = result_array[result_array[:, 1] > 0]
result_df = pd.DataFrame(data=result_array, columns=['Movie', 'Target Rating', 'Predicted'])

In [21]:
result_df

                                                 Movie Target Rating Predicted
0                                     GoldenEye (1995)             3   4.06925
1                   Dracula: Dead and Loving It (1995)             5   4.63941
2                                         Nixon (1995)             5   3.90525
3                         Sense and Sensibility (1995)             3   3.56541
4                                   Money Train (1995)             4   3.52291
5                                     Assassins (1995)             4   4.07243
6                                        Powder (1995)             3   3.80682
7                                  Now and Then (1995)             2   3.50572
8                               Dangerous Minds (1995)             3   4.01029
9                              Wings of Courage (1995)             4   3.70793
10                             Dead Man Walking (1995)             2   2.34548
11                                     Clueless (1995)             4   3.60411
12                                Mortal Kombat (1995)             5   3.47335
13                                Seven (Se7en) (1995)             4   3.96507
14                        When Night Is Falling (1995)             3   3.63585
15                               Guardian Angel (1994)             4   3.76398
16                                     Lamerica (1994)             3   3.22688
17                               Big Green, The (1995)             3   3.59194
18                      Kids of the Round Table (1995)             4   4.08781
19                  Indian in the Cupboard, The (1995)             5   4.33246
20                               Eye for an Eye (1996)             4   4.25348
21                           Mr. Holland's Opus (1995)             3   3.62011
22                                Two if by Sea (1996)             5   4.78305
23                                     Bio-Dome (1996)             4   3.81709
24                                     Two Bits (1995)             3    3.2592
25                                       Friday (1995)             3   4.06327
26                          From Dusk Till Dawn (1996)             3    3.8392
27                        Kicking and Screaming (1995)             4   3.40049
28                              Misérables, Les (1995)             3   3.75601
29                                 Bed of Roses (1996)             1   3.94988
..                                                 ...           ...       ...
106                            Don Juan DeMarco (1995)             4   3.75946
107                                   Dream Man (1995)             5   4.08015
108                                   Drop Zone (1994)             2   3.07811
109                  Destiny Turns on the Radio (1995)             3   3.59831
110                        Death and the Maiden (1994)             4   3.25787
111                           Dolores Claiborne (1994)             5   4.08087
112                               Dumb & Dumber (1994)             4   3.37944
113                         Eat Drink Man Woman (1994)             4   3.72787
114                                Exit to Eden (1994)             3   3.71745
115                                     Ed Wood (1994)             2   3.59392
116                                Forget Paris (1995)             5    2.9818
117  Far From Home: The Adventures of Yellow Dog (1...             4   3.87574
118                                       Gordy (1995)             4   3.84966
119                            Gumby: The Movie (1995)             5   4.32738
120                           Glass Shield, The (1994)             1   2.53625
121                                Heavyweights (1994)             4   3.91422
122                                        I.Q. (1994)             4   3.50978
123                          Jefferson in Paris (1995)             2   3.11511
124                             Jerky Boys, The (1994)             5   3.93423
125                                      Junior (1994)             1   2.64548
126                                  Just Cause (1995)             2   3.62073
127          Star Wars: Episode IV - A New Hope (1977)             5   3.82421
128                                Little Women (1994)             1   2.86917
129                          Little Princess, A (1995)             1   2.76626
130                                   Enfer, L' (1994)             3   3.93732
131                         Legends of the Fall (1994)             2    2.8912
132                                 Major Payne (1994)             4   4.20979
133                               Little Odessa (1994)             1   2.81225
134                My Crazy Life (Mi vida loca) (1993)             4   2.76492
135                            Man of the House (1995)             3    4.5037

[136 rows x 3 columns]